#home{
	max-width:1349px; 
	height: 400px;
}
.w3-image {
    width: 1500px;
    height: 100%;
}
.ex-name{
	position: absolute;
    top: 38%;
    color: #fff;
    background: rgb(0 0 0 / 60%);
    font-weight: 500;
    padding: 9px 0px 9px 0px;
    height: 20%;
    text-align: center;
    width: 100%;
}
.exhibition-imgs{
	width: 100%;
}





/* Collection css */
.container{
    padding: 16px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(5 , 250px);
    grid-gap: 10px 10px;
}
.item{
    font-size: 50px;
    color: #fff;
    font-family: 'Righteous', cursive;
    border-radius: 5px;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
}
.item-1{
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}
.item-2{
    grid-column: 3 / 5;
    grid-row: 1 / 2;
}
.item-3{
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    
}
.item-4{
    grid-column: 3 / 5;
    grid-row: 2 / 3;
}
.item-5{
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}
.item-6{
    grid-column: 2 / 3;
    grid-row: 3 / 5;
}
.item-7{
    grid-column: 3 / 5;
    grid-row: 3 / 6;
}
.item-8{
    grid-column: 1 / 2;
    grid-row: 4 / 5;
}
.item-9{
    grid-column: 1 / 2;
    grid-row: 5 / 6;
}
.item-10{
    grid-column: 2 / 2;
    grid-row: 5 / 6;
}
@media screen and (max-width: 768px){
    .container{
        display: block;
    }
    .item{
        height: 200px;
        margin-bottom: 10px;
    }
}
.img-col{
    height: 100%;
    width: 100%;
}


/* Exhibition css */
#slider{
width:80%;
height: 60%;
margin:0px auto;
max-width: 600px;
position:relative;
overflow:hidden;
border: 10px solid white;
box-shadow:2px 5px 10px rgba(0,0,0,0.4);;
}

.slide{
width:100%;
height: 100%;
display:none;
animation-name:fade;
animation-duration:1s;

}
.ex-img{
width:100%;
height: 100%;
}
@keyframes fade{
from{opacity:0.5;}
to{opacity:1;}
}

.controls{
position:absolute;
top:50%;
transform:translateY(-50%);
font-size:1.5em;
padding:15px 10px;
border-radius:5px;

}

.controls:hover{
background:white;
transition:0.3s;
}

.controls:active{
color:grey;
}

#left-arrow{
left:10px;
}

#right-arrow{
right:10px;
}

#dots-con{

text-align:center;
}
.dot{
display:inline-block;
background:grey;
padding:8px;
border-radius:50%;
margin:10px 5px;
}

.active{
background:rgb(7, 67, 213);
}

@media (max-width:235px){
#slider{width:100%;

}

.controls{
  font-size:1em;
}

#dots-con{
  display:none;
}
}